/* game board table */

#board td {
  width: 50px;
  height: 50px;
  /* border: solid 1px #666; */
  background: black;
}

/* pieces are div within game table cells: draw as colored circles */

/* .piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  /* border: dashed 1px lightgray; */
  background: lightgray;
}

#column-top td:hover {
  background-color: lightgray;
  border-radius: 50%;
}


@keyframes drop {
  from {
    transform: translateY(-600%);
  }
  to {
    transform: translateY(50);
  }
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
  position: absolute;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: drop 0.8s ease;
  transform-origin: center top;
  transform: translate(-5px, -30px);
}